# Database
MONGO_URI=mongodb+srv://your-mongo-uri

# JWT
JWT_SECRET=your-jwt-secret

# Email
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-email-password

# Admin
ADMIN_EMAIL=admin@trippy.com
ADMIN_PASSWORD=adminpassword